<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

</head>

<body>
<div><span th:text="${'Дата: ' + date}"></span></div>
<div>
    <span th:text="${'Свободные деньги: ' + freeMoney + '₽'}"></span>
</div>
<div>
    <span th:text="${'Деньги в бумагах: ' + activeMoney + '₽'}"></span>
</div>
<div>
    <span th:text="${'Всего: ' + total + '₽'}"></span>
</div>

</body>
</html>